name: Markdown Linting

on:
  push:
    paths:
      - '**.md'
  pull_request:
    paths:
      - '**.md'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Markdown Lint
      uses: DavidAnson/markdownlint-cli2-action@v22
      with:
        config: '.markdownlint.json'
        globs: |
          **/*.md
          !**/node_modules/**
